/* Root Variables Start*/

:root {
    --char-mini-intro-bg: rgba(0,0,0,.3);
}

/* Root Variables End*/

/* Importing Fonts Start*/

@font-face {
    font-family: foundation;
    src: url(../fonts/FoundationTitlesHand-SemiBold-v0.85.ttf);
}

@font-face {
    font-family: coolvetica;
    src: url(../fonts/GlacialIndifference-Regular.otf);
}

/* Importing Fonts End*/

/*Center Items*/
.center-div {
    display: flex;
    align-items: center;
}
/*Center Items End*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow: hidden;

    height: 100vh;

    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,.9) 0%, rgba(172,57,69,1) 50%, rgba(0,0,0,.9) 100%);

}

/* Push Character Images Left Start*/

.character-info::after {
    position: absolute;
    content: '';

    top: -0px;
    left: -60px;

    width: 400px;
    height: 400px;

    background: rgb(0,0,0,.1);

    border-radius: 25px;
    border-top-right-radius: 0;

    z-index: -99;
}

.character-page {
    position: relative;
    font-family: foundation;    
}

/* Center Character Image Start */
.character-image {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Center Character Image End */

/* Circles Behind Character Start */
.character-image::before {
    position: absolute;
    content: '';

    top: 50px;
    left: -200px;

    width: 400px;
    height: 400px;

    background: rgb(0,0,0,.1);

    border-radius: 50%;
}

.character-image::after {
    position: absolute;
    content: '';

    top: 75px;
    left: -175px;

    width: 350px;
    height: 350px;

    background: rgb(0,0,0,.3);

    border-radius: 50%;

    z-index: -1;
}
/* Circles Behind Character End */

/* Character Image Placement and Animation Start */
.character-image img {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-55%, 0%);

    width: 750px;
    height: auto;

    animation: image 30s ease 0s infinite normal forwards;
}

@keyframes image {
    0% {
		transform: translate(-55%, 0);
	}

	20% {
		transform: translate(-55%, -3%);
	}

	40% {
		transform: translate(-56%, 0%);
	}

	60% {
		transform: translate(-55%, 1%);
	}

	80% {
		transform: translate(-54%, -2%);
	}

	100% {
		transform: translate(-55%, 0);
	}
}
/* Character Image Placement and Animation End */


.character-intro {
    color: white;
    font-family: coolvetica;
    font-size: 10pt;

    position: absolute;
    top: 500px;
    left: 10px;

    z-index: 99;
    padding-left: 5px;
}

.character-info::before {
    position: absolute;
    content: '';

    top: 490px;

    width: 400px;
    height: 130px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);

    z-index: -1;
}

.character-name {
    position: absolute;
    color: white;
    
    bottom: -710px;
    left: 680px;

    font-size: 50pt;
    
}

/* Concerto Element Start */
.concerto-element {
    position: absolute;

    top: 100px;
}

.concerto-element img {
    width: 100px;
    height: auto;
}

.concerto-element .concerto-heading {
    position: absolute;
    width: 170px;

    top: 10px;
    left: 90px;

    color: rgba(255,255,255,.9);
}

.concerto-element .element-name {
    position: absolute;
    top: 30px;
    left: 90px;

    font-size: 25pt;

    color: rgba(255,255,255,.9);
}

/* Concerto Element End */


/* Character Weapon Styling Start */
.character-weapon {
    position: absolute;

    top: 220px;
    left: 15px;
}

.character-weapon img {
    width: 70px;
    height: auto;

    transform: rotate(-40deg);
    opacity: .4;
}

.character-weapon .weapon-heading {
    position: absolute;
    width: 170px;

    top: 0px;
    left: 55px;

    color: rgba(255,255,255,.9);
}

.character-weapon .weapon-name {
    position: absolute;
    top: 20px;
    left: 55px;

    font-size: 10pt;

    color: rgba(255,255,255,.9);
}

/* Character Weapon Styling End */

/* Character Birthday Styling Start */

.character-birthday {
    position: absolute;

    top: 290px;
    left: 30px;
}

.character-birthday img {
    position: absolute;

    top: 15px;
    width: 30px;
    height: auto;

    transform: rotate(-40deg);
    opacity: .4;
}

.character-birthday .birthday-heading {
    position: absolute;
    width: 170px;

    top: 0px;
    left: 45px;

    color: rgba(255,255,255,.9);
}

.character-birthday .birthday {
    position: absolute;
    top: 20px;
    left: 45px;

    width: 70px;

    font-size: 8pt;

    color: rgba(255,255,255,.9);
}

.character-birthday .zodiac {
    position: absolute;
    top: 40px;
    left: 45px;

    width: 100px;

    font-size: 10pt;

    color: rgba(255,255,255,.9);
}

/* Character Birthday Styling End */



/* ************** CHARACTER INFO END ********** */

/* Buttons*/
.buttons {
    position: absolute;

    top: 445px;
    left: 10px;

    z-index: 5;
    color: white;
    
    font-size: 10pt;
}

.push-away {
    margin-left: 5px;
}

.button-container p {
    margin-left: 5px;
}

#skills {
    width: 100px;
    height: 50px;

    border: 1px solid rgba(0, 0, 0, 0);

    
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,212,255,0) 100%);

    text-align: center;
    border-radius: 10px;

    cursor: pointer;
    transition: all .3s ease-in-out;

    box-shadow: 0px 2px 5px 1px rgba(255, 255, 255, 0.1);

    justify-content: center;
}

#skills:hover {   
    border: .5px solid #009bff;
    box-shadow: 0px 2px 10px 1px rgba(255, 255, 255, 0);
    
    color: white;
}

#intro {  /* This styling can used to indicate the active tab*/
    width: 100px;
    height: 50px;

    border: 1px solid rgba(0, 0, 0, 0);

    
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgb(114, 59, 59) 0%, rgba(0,212,255,0) 100%);

    text-align: center;
    border-radius: 10px;

    cursor: pointer;
    transition: all .3s ease-in-out;

    box-shadow: 0px 2px 5px 1px rgba(255, 255, 255, 0.1);

    justify-content: center;
}

#intro:hover {    

    border: .5px solid #009bff;
    box-shadow: 0px 2px 10px 1px rgba(255, 255, 255, 0);
    
    color: white;

}
/* Buttons End */